%p#notice= notice


-if can? :manage, FlashCard
  = link_to 'New Flash card', new_original_card_path

.row.flash_cards_index
  .col-xs-12.col-centered.col-sm-5
    %table.table.table-bordered
      %tbody
        -(0..7).each do |row|
          %tr
            -(0..3).each do |i|
              -if row*4+i < @original_cards.length && @original_cards[row*4+i] != nil
                %td
                  .character_block
                    %span.original= @original_cards[row*4+i].character
                    %span.translation.hide= @original_cards[row*4+i].translation_card.character
.row
  .col-md-offset-8
    %a.hidden-sm.hidden-xs.btn.view_toggle{:href=> original_card_path(OriginalCard.first)} enter flashcard code
    .center-block.text-center.hidden-md.hidden-lg
      %a.btn.view_toggle{:href=> original_card_path(OriginalCard.first)} enter flashcard code
