%p#notice= notice

.flash_card{:data=>{:background=>@flash_card.background, :reference=>"#{(@flash_card.is_a? OriginalCard) ? translation_card_path(@flash_card.translation_card) : original_card_path(@flash_card.original_card)}", :next_card=>@next_card}}
  .character_block
    = @flash_card.character
  -if @next_card != nil
    %button.btn.btn-primary.btn-block.next_card_indicator Next


-if can? :manage, @flash_card
  = link_to 'Edit', edit_flash_card_path(@flash_card)
  -#\|
-#= link_to 'Back', flash_cards_path
