@import "bootstrap";
// Place all the styles related to the FlashCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-centered{
    float: none !important;
    margin: 0 auto;
}

.character_block{
  .original{
    font-family: 'jomolhari', $font-family-base;
  }
}

.flash_card_container{
  text-align: center;
  //makes it so it's only as big as it's children allowing for centering
  display: table;
  margin-left: auto;
  margin-right: auto;

  .next_card_indicator{
    margin-top: 10px;
    i{
      color: #2f2f2f;
      font-size: 70px;
    }
    &:hover, &:active, &:focus, &:visited{
      background-color: transparent;
      text-decoration: none;
      // color: #666;
    }
  }
}
.view_toggle{
  background-color: red;
  color: #fff;
  &:hover, &:active, &:focus{
    background-color: darken(red, 10%);
  }
  &:visited{
    color: #fff;
  }                                                                                                            
}
.flash_cards_index{
  table{
    background: #eee;
    opacity: .8;
  }
  td{
    border-width: 2px !important;
    padding-bottom: 20px !important;
  }
  .character_block{
    text-align: center;
    font-size: 35px;
    vertical-align: middle;
    height: 42px;
  }
  // .card_link{
  //   &:visited{
  //     color: #000;
  //   }
  //   &:hover, &:active, &:focus{
  //     text-decoration: none;
  //   }
  // }
}
.flash_card{
  color: #000;
  // .audiojs{
  //   display: none;
  // }
  &:hover, &:active, &:focus, &:visited{
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }
  .audio-play-pause{
    margin-top: -60px;
    font-size: 40px;
    display: block;
    vertical-align: bottom;
    &.playing{
      .audio-play{
        color: green;
      }
    }
    .audio-play{
      color: black;
    }
  }
  .character_block{
    width: 180px;
    height: 140px;
    text-align: center;
    font-size: 80px;
    border: 2px solid black;
    opacity: .9;
    vertical-align: middle;
    line-height: 140px;
  }
}